<!--
Class:
	What is a class?
        A class is what defines what an object should be and act.
  What can a class definition include?
        They can include "Fields, Constructors, and Functions."
  What is class inheritance?
        It is when a class receives information used in the class it is extending from.
  Subclass
        It is the child of the Superclass
  Superclass
        It is the parent of the subclass
  Private
        Only this section can be used by itself and is not shared.
  Public
        Open to any other code to use as it has free access to it.
	Protected
        Similar to private it can keep its information to itself but a child of
        this class can this obtain the infromation from the parent class.
  Do the console logs still work?
        Yes!
  What about when make is set to protected?
        Yes!
      -->
